.EightBall-container {
  height: 500px;
  width: 500px;
  margin: auto;
  color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EightBall-answer {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}

.EightBall-restart {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-weight: 800;
  font-size: 2rem;
  padding: 10px;
}

.EightBall-records {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.EightBall-records-header {
  margin: auto;
}
.EightBall-records-data {
  margin: auto;
}
