.Pokecard {
  background-color: lightgray;
  border-radius: 8%;
  height: 220px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* margin: auto; */
}

.Pokecard-name {
  color: blue;
  font-weight: 600;
  margin: auto;
}

.Pokecard-img {
  width: 150px;
  margin: auto;
}

.Pokecard-type {
  margin: auto;
}

.Pokecard-exp {
  margin: auto;
}
